{% extends "admin/base_site.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.8.0/lodash.min.js" integrity="sha512-V5dkG/iwx2EfgVh/rnWYqBGC7+fF8Uh4d7QQtQaB0UffPL4/a6TyS/4+Nc7gN1x2tvDLWamYS5pTwptu1NblSw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="{% static 'js/chart.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/jquery.js' %}" type="text/javascript">
</script>
<script src="{% static 'js/ajaxSetup.js' %}" type="text/javascript">
</script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" />
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script>
{% endblock %}

<style>
.grid-stack-item{
    background-color: white;
    border: 1px solid #00000022;
}
.header{
    font-size: 1.2rem;
}


</style>

<div class="grid-stack">
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0" data-gs-min-height="30" data-gs-min-width="6" data-custom-id="0"
        data-gs-width="6" data-gs-height="30">
            <div class="grid-stack-item-content">
                <div class="row">
                    <div class="col-12 text-center">
                        <h6 class="header m-1">Http Methods</h6>
                        <hr class="m-0"/>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-5 text-center">
                        <table class="w-100">
                            <tr>
                                <th>Method</th>
                                <th>Count</th>
                                <th>Percentage</th>
                            </tr>
                            {% for item in http_method_pie.table_items %}
                            <tr>
                                <td>{{ item.method }}</td>
                                <td>{{ item.count }}</td>
                                <td>{{ item.percentage }}%</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-7">
                        <canvas id="http_methods"></canvas>
                    </div>
                </div>
            </div>
    </div>
    <div class="grid-stack-item" data-gs-min-width="6" data-gs-min-height="40" data-custom-id="1"
        data-gs-x="0" data-gs-y="30"
        data-gs-width="6" data-gs-height="50">
            <div class="grid-stack-item-content text-center">
                <h6 class="header m-1">The Most Visited Pages</h6>
                <hr class="m-0"/>
                <canvas class="mt-1" id="resource_frequency"></canvas>
            </div>
    </div>
     <div class="grid-stack-item" data-gs-min-width="6" data-gs-min-height="53" data-custom-id="2"
        data-gs-x="0" data-gs-y="100"
        data-gs-width="6" data-gs-height="53">
            <div class="grid-stack-item-content text-center">
                <h6 class="header m-1">Total Requests According to Days</h6>
                <hr class="m-0"/>
                <div class="row m-1 text-left">
                    <select class="m-1" id="request_month_year" name="date_year">
                        <option value="2015">2015</option>
                        <option selected value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                    <select class="m-1 p-0" id="request_month_month" name="date_month">
                        <option value="12">12</option>
                        <option value="11">11</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option selected value="1">1</option>
                    </select>
                    <button class="btn btn-primary m-1 p-1" id="request_month_button" style="max-height:30px;font-size:0.75rem;">Update</button>
                </div>
                <hr/>
                <canvas class="mt-1" id="requests_month"></canvas>
            </div>
    </div>
     <div class="grid-stack-item"
        data-gs-x="6" data-gs-y="100" data-gs-min-height="53" data-gs-min-width="6" data-custom-id="3"
        data-gs-width="6" data-gs-height="53">
            <div class="grid-stack-item-content">
                <div class="row">
                    <div class="col-12 text-center">
                        <h6 class="header m-1">Status Codes</h6>
                        <hr class="m-0"/>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-5 text-center">
                        <table class="w-100">
                            <tr>
                                <th>Code</th>
                                <th>Count</th>
                                <th>Percentage</th>
                            </tr>
                            {% for item in status_code_pie.table_items %}
                            <tr>
                                <td>{{ item.method }}</td>
                                <td>{{ item.count }}</td>
                                <td>{{ item.percentage }}%</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-7">
                        <canvas id="status_codes"></canvas>
                    </div>
                </div>
            </div>
    </div>
    <div class="grid-stack-item" data-gs-min-width="6" data-gs-min-height="40" data-gs-max-height="80" data-custom-id="4"
        data-gs-x="6" data-gs-y="0"
        data-gs-width="6" data-gs-height="80">
            <div class="grid-stack-item-content text-center" style="overflow-x:scroll;">
                <h6 class="header m-1">Log Stream</h6>
                <hr class="m-0"/>
                <div class="row m-1 text-left">
                    <input id="table_filter_input" type="text" placeholder="Search">
                </div>
                <table id="log_stream_table" class="w-100" style="width:100%;">
                    <thead>
                        <tr class="header">
                            <th>Time</th>
                            <th>Client IP</th>
                            <th>User</th>
                            <th>Resource</th>
                            <th>Http Method</th>
                            <th>Http Version</th>
                            <th>Status</th>
                            <th>Size</th>
                            <th>Referer</th>
                            <th>User Agent</th>   
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                <table>
            </div>
    </div>
    
</div>


<script>
    $(function () {
        
        
        var options = {
            cellHeight: 1,
            verticalMargin: 10
        };
        $('.grid-stack').gridstack(options);

        if (localStorage.getItem("grid-layout") !== null) {

            serialization = JSON.parse(localStorage.getItem("grid-layout"));
            let myGrid = $('.grid-stack').data('gridstack')
            var items = GridStackUI.Utils.sort(serialization);
            _.each(items, function (node) {
                myGrid.update($('div[data-custom-id="' + node.id + '"]'),
                    node.x, node.y, node.width, node.height);
            });
     
        }
        
        $('.grid-stack').on('change', function (event, items) {
            let storagePositions = {
            };
                 
            let stackItems = $('.grid-stack .grid-stack-item');

            storagePositions = _.map(stackItems, function (el) {
                
                el = $(el);
                node = el.data('_gridstack_node');
                return { // Grab widget properties
                    id: el.attr('data-custom-id'),
                    x: node.x,
                    y: node.y,
                    width: node.width,
                    height: node.height
                };
            });
           
            localStorage.setItem("grid-layout", JSON.stringify(storagePositions))
        });

        function get_log_stream(){
            $.post("/log_manager/log_stream", {search: $("#table_filter_input").val()} ,function(data) {
                var table = $("#log_stream_table tbody");
                table.html("");
                $.each(data.last_requests, function(idx, elem){
                    table.append("<tr><td>"+new Date(elem.time).toLocaleString()+"</td>"+"<td>"+elem.client_ip+"</td>"+"<td>"+elem.user_id+"</td>"+"<td>"+elem.requested_resource+"</td>"+"<td>"+elem.http_method+"</td>"+"<td>"+elem.http_version+"</td>"+"<td>"+elem.status_code+"</td>"+"<td>"+elem.response_size+"</td>"+"<td>"+elem.referer+"</td>"+"<td>"+elem.user_agent+"</td>"+"</tr>");
                });
            }).done(function(){
                setTimeout(function(){get_log_stream();}, 10000);
            })
        }
        
        get_log_stream();

        $("#table_filter_input").change(function() {
           $.post("/log_manager/log_stream", {search: $("#table_filter_input").val()} ,function(data) {
                var table = $("#log_stream_table tbody");
                table.html("");
                $.each(data.last_requests, function(idx, elem){
                    table.append("<tr><td>"+new Date(elem.time).toLocaleString()+"</td>"+"<td>"+elem.client_ip+"</td>"+"<td>"+elem.user_id+"</td>"+"<td>"+elem.requested_resource+"</td>"+"<td>"+elem.http_method+"</td>"+"<td>"+elem.http_version+"</td>"+"<td>"+elem.status_code+"</td>"+"<td>"+elem.response_size+"</td>"+"<td>"+elem.referer+"</td>"+"<td>"+elem.user_agent+"</td>"+"</tr>");
                });
            });
        });

        
    });

    function httpMethodPie(){
        let counts = {{ http_method_pie.counts|safe }}
        let methods = {{ http_method_pie.ids|safe }}
        let http_methods_canvas = $("#http_methods");
        let http_methods_chart = new Chart(http_methods_canvas, {
        type: 'pie',
        data: {
            labels: methods,
            datasets: [{
                label: 'Http Methods',
                data: counts,
                backgroundColor: [
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                    "rgba(255, 206, 86, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(153, 102, 255, 0.6)",
                    "rgba(3, 236, 252, 0.6)"
                ],
                borderColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(3, 236, 252, 0.2)"
                ]
            }]
        }
        });
    }

    function statusCodePie(){
        let counts = {{ status_code_pie.counts|safe }}
        let methods = {{ status_code_pie.ids|safe }}
        let http_methods_canvas = $("#status_codes");
        let http_methods_chart = new Chart(http_methods_canvas, {
        type: 'pie',
        data: {
            labels: methods,
            datasets: [{
                label: 'Http Methods',
                data: counts,
                backgroundColor: [
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                    "rgba(255, 206, 86, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(153, 102, 255, 0.6)",
                    "rgba(3, 236, 252, 0.6)",
                    "rgba(0, 102, 0, 0.6)",
                    "rgba(3, 236, 252, 0.6)",
                    "rgba(25, 200, 155, 0.6)",
                    "rgb(172, 24, 57, 0.6)",
                    "rgb(112, 33, 244, 0.6)",
                ],
                borderColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(3, 236, 252, 0.2)",
                    "rgba(0, 102, 0, 0.2)",
                    "rgba(3, 236, 252, 0.2)",
                    "rgba(25, 200, 155, 0.2)",
                    "rgb(172, 24, 57, 0.2)",
                    "rgb(112, 33, 244, 0.2)",
                ]
            }]
        }
        });
    }
    
    function resourceFrequencyBar(){
        let counts = {{ requested_resources_bar.counts|safe }}
        let methods = {{ requested_resources_bar.ids|safe }}
        let http_methods_canvas = $("#resource_frequency");
        let http_methods_chart = new Chart(http_methods_canvas, {
        type: 'horizontalBar',
        data: {
            labels: methods,
            datasets: [{
                data: counts,
                label: "The Most Visited Pages",
                backgroundColor: [
                    "rgb(0, 102, 0, 0.6)",
                    "rgb(51, 102, 255, 0.6)",
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                    "rgba(255, 206, 86, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(153, 102, 255, 0.6)",
                    "rgba(3, 236, 252, 0.6)",
                    "rgb(102, 0, 51, 0.6)",
                    "rgb(255, 255, 102, 0.6)",
                ],
                borderColor: [
                    "rgb(0, 102, 0, 0.2)",
                    "rgb(51, 102, 255, 0.2) ",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(3, 236, 252, 0.2)",
                    "rgb(102, 0, 51, 0.2)",
                    "rgb(255, 255, 102, 0.2)"
                ]
            }]
        },
        options: {
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem) {
                        return tooltipItem.xLabel + " times visited";
                    }
                }
            }
        }
        });
    }

    function requestsMonthBar(){
        let request_counts = {{ requests_month_bar.counts|safe }}
        let months = {{ requests_month_bar.ids|safe }}
        let requests_month_canvas = $("#requests_month");
        let requests_month_chart = new Chart(requests_month_canvas, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                data: request_counts,
                label: "Total Requests According to Days",
                backgroundColor: [
                    "rgb(0, 102, 0, 0.6)",
                    "rgb(51, 102, 255, 0.6)",
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                    "rgba(255, 206, 86, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(153, 102, 255, 0.6)",
                    "rgba(3, 236, 252, 0.6)",
                    "rgb(102, 0, 51, 0.6)",
                    "rgb(255, 255, 102, 0.6)",
                    "rgb(0, 102, 0, 0.6)",
                    "rgb(51, 102, 255, 0.6)",
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                    "rgba(255, 206, 86, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(153, 102, 255, 0.6)",
                    "rgba(3, 236, 252, 0.6)",
                    "rgb(102, 0, 51, 0.6)",
                    "rgb(255, 255, 102, 0.6)",
                    "rgb(0, 102, 0, 0.6)",
                    "rgb(51, 102, 255, 0.6)",
                    "rgba(255, 99, 132, 0.6)",
                    "rgba(54, 162, 235, 0.6)",
                    "rgba(255, 206, 86, 0.6)",
                    "rgba(75, 192, 192, 0.6)",
                    "rgba(153, 102, 255, 0.6)",
                    "rgba(3, 236, 252, 0.6)",
                    "rgb(102, 0, 51, 0.6)",
                    "rgb(255, 255, 102, 0.6)",
                ],
                borderColor: [
                    "rgb(0, 102, 0, 0.2)",
                    "rgb(51, 102, 255, 0.2) ",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(3, 236, 252, 0.2)",
                    "rgb(102, 0, 51, 0.2)",
                    "rgb(255, 255, 102, 0.2)",
                    "rgb(0, 102, 0, 0.2)",
                    "rgb(51, 102, 255, 0.2) ",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(3, 236, 252, 0.2)",
                    "rgb(102, 0, 51, 0.2)",
                    "rgb(255, 255, 102, 0.2)",
                    "rgb(0, 102, 0, 0.2)",
                    "rgb(51, 102, 255, 0.2) ",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 206, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(3, 236, 252, 0.2)",
                    "rgb(102, 0, 51, 0.2)",
                    "rgb(255, 255, 102, 0.2)",
                ]
            }]
        },
        options: {
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem) {
                        return tooltipItem.yLabel + " requests";
                    }
                }
            }
        }
        });
        $("#request_month_button").click(function() {
            $.post("/log_manager/request_month", {month: $("#request_month_month").val(), year: $("#request_month_year").val()}, function(data){
                requests_month_chart.data.labels = [];
                data.ids.forEach(item => {
                    requests_month_chart.data.labels.push(item);
                });

                requests_month_chart.data.datasets[0].data = [];
                data.counts.forEach(item => {
                    requests_month_chart.data.datasets[0].data.push(item);
                })
                requests_month_chart.update();
            });
        });
    }

    httpMethodPie();
    statusCodePie();
    resourceFrequencyBar();
    requestsMonthBar();

</script>



{% endblock %}